MYSQL_IMAGE=mysql:9
MYSQL_CONTAINER_NAME=mysql-local
MYSQL_HOST_BIND_IP=127.0.0.1
MYSQL_PORT=3306
MYSQL_ROOT_PASSWORD=change_me_root_password
MYSQL_DATABASE=app_db
MYSQL_USER=app_user
MYSQL_PASSWORD=change_me_app_password
VECTORIZER_MYSQL_USER=sonja_vectorizer
VECTORIZER_MYSQL_PASSWORD=change_me_vectorizer_password
VECTORIZER_MYSQL_HOST=%
MYSQL_DATA_DIR=./data
MYSQL_TZ=UTC
