PORT=3223
AUTH=
SKIP_SUMMARY=false
CACHE_ACTION_ENTITIES=true
CACHE_RESPOND_PARSING=true
HOME_ASSISTANT_URL=http://localhost:8123
HOME_ASSISTANT_TOKEN=
ASSISTANT_URL=http://localhost:3350/receive-msg
ASSISTANT_AUTH=
ASSISTANT_MODEL=qwen2.5:14b
