WEBHOOK_PORT=3350
BASE_URL=192.168.55.73
UI_WEBSOCKET_URL=localhost
RESULT_WEBHOOK_URL=
RESULT_WEBHOOK_AUTH=
WEBHOOK_BEARER_TOKEN=
SKIP_AUTH=false
OLLAMA_API_KEY=
OLLAMA_MODEL=qwen2.5:14b
OLLAMA_RETRIES=3
OLLAMA_TIMEOUT_MS=60000
OLLAMA_URL=http://192.168.55.73:11434
OPEN_AI_ENABLED=false
OPEN_AI_CODEX_ENABLED=false
ALLOW_COMMAND_EXECUTION=false
CODEX_TRACE_ENABLED=false
APP_CODEX_HOME=.codex
APP_CODEX_HOME_SEED_FROM_USER=false
OPENAI_TOKEN=
OPENAI_MODEL=gpt-5.2
OPENAI_SQL_MODEL=gpt-5.2-codex
NOTIFY_UI_ENABLED=true
NOTIFY_PUSHOVER_ENABLED=true
NOTIFY_WHATSAPP_ENABLED=true
TRANSCRIBE_URL=http://192.168.55.113:3221
PROMPT_CLASSES=homeassistant,email,general,schedule,cron-query,cron-remove,web
HOME_ASSISTANT_MICRO_SERVICE_URL=192.168.55.73:3223/requests
HASS_MICRO_AUTH=
EMAIL_MICRO_SERVICE_URL=http://192.168.55.73:3222/llm-query
EMAIL_TIMEOUT_MS=15000
FILE_MICRO_SERVICE_URL=http://localhost:3224/file/upload
FILE_MICRO_SERVICE_AUTH=
FILE_MICRO_SERVICE_QUERY_URL=http://localhost:3224/llm-query
WHATSAPP_MESSAGE_URL=http://localhost:8085/message
WHATSAPP_MESSAGE_AUTH=
PRIMARY_WHATSAPP_LID=
CACHE_CLASSIFICATION=true
CACHE_INTENTS=true
CHRONICLE_BEARER_TOKEN=chronicle-232323-232342
CHRONICLE_API=43b9b80b60af937fea409ba8926cf207
CHRONICLE_BASE_URL=http://192.168.55.113:3012
CHRONICLE_CATEGORY_ID=
CHRONICLE_TARGET=
CHRONICLE_PLUGIN_ID=http
CHRONICLE_TIMEOUT_SEC=180
PUSHOVER_API_TOKEN=
PUSHOVER_API_URL=https://api.pushover.net/1/messages.json
PUSHOVER_DEVICE=
PUSHOVER_TIMEOUT_MS=15000
PUSHOVER_USER_KEY=
